html, body {
    height: 100%;
	width:100%;
    box-sizing: content-box;
    font-family: serif;
}

.image-container {
    height: 50px;
    box-shadow: 0px 0px 16px 2px darkgrey;
    margin-bottom: 20px;
}

.image-container img {
    display: block;
    width: 120px;
    height: 60px;
    margin-left: 20px;
}

.content-container {
    margin: 0 10px;
    height: 100%;
	white-space: none;
}



.input-field:disabled {
    background: lightgrey;
	/* width: 100%; */
	/* height :23px; */
}

.action-container {
	padding-top: 12px;
    justify-content: flex-end;
	float:right;
	text-align: right;
}

.action-container button {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
    width: 65px;
}

.click-container {
    padding: 20px 5px;
    background: ghostwhite;
}

.choose-file {
    outline: none;
}


.header-container {	
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #007bff;
    border-bottom: 1px solid grey;
	height:60px;
}

.output-container {
	width:100% ;
    /* display: -webkit-box; */
    display: flex;
    display: -ms-flexbox;	
    -webkit-box-orient: horizontal;	
    -webkit-box-direction: normal;	
            flex-direction: row;
	-ms-flex-direction: row;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin: 0 auto;
	font-size: 15px;
	height: 100%;
}

.output-header-container{
	display:block;
	width:50%;
		/* border:1px solid; */
	align-items:center;
	/* margin-left: 25%; */
/* display: inline-block; */
}
	
.output-body-container{
	display:block;
	/* border:1px solid; */
	display: inline-block;
	margin-right: 100px;
	
	
	}

.body-container {
	/* display:block; */
	display: -webkit-box;
	
}

.table-header {
	/* display:block; */
	width:50%;
font-size: 15px;
    border: 1px solid grey;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 0 0 px;
	/* margin-left:150px; */

}

.table-data{
  font-size: 15px;
    border: 1px solid grey;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 0 5px;

}

.table-input{
	font-size: 12px;
    border: 1px solid grey;
	background-color: lightgrey;
}

.reportname{
	background-color: lightgrey;
}

.backgroundcolor1{
	background-color:#ffff81;
	    border: 1px solid grey
}	 
	 
.backgroundcolor2{
	background-color:#ffff81;
	    border: 1px solid grey
}	 

.backgroundcolor3{
	background-color:#7dff7d;
	    border: 1px solid grey
}	 
.backgroundcolor4{
	background-color:#ff8484;
	    border: 1px solid grey
}	 

 

