html, body {
    height: 100%;
	width:100%;
    box-sizing: content-box;
    font-family: serif;
}

.image-container {
    height: 50px;
    box-shadow: 0px 0px 16px 2px darkgrey;
    margin-bottom: 20px;
}

.image-container img {
    display: block;
    width: 120px;
    height: 60px;
    margin-left: 20px;
}

.content-container {
    margin: 0 10px;
    height: calc(100% - 70px);
	white-space: none;
}



.input-field:disabled {
    background: lightgrey;
}

.action-container {
	padding-top: 12px;
    justify-content: flex-end;
	float:right;
	text-align: right;
}

.action-container button {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
    width: 65px;
}

.click-container {
    padding: 20px 5px;
    background: ghostwhite;
}

.choose-file {
    outline: none;
}


.header-container {	
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #007bff;
    border-bottom: 1px solid grey;
	height:60px;
}

.output-container {
	width:100% ;
    display: flex;
    flex-direction: row;
	font-size: 15px;
	height: calc(100% - 60px);
	padding-bottom: 20px;
}

.output-header-container{
	display: flex;
    flex-direction: column; 
	text-align:left; 
	min-width:200px; 
	font-size: 15px;
	margin-left: 25%;
}
	
.output-body-container{
	flex: 1;
	display: flex; 
	flex-direction: row;
	text-align:left;
	font-size: 15px;
}

.body-container {
	max-width: 500px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: flex;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align:left;
	font-size: 12px;
	font-weight:normal;
	background-color:whitesmoke;
}

.table-header {
	border: 1px solid grey;
	flex: 1;
	padding: 0 5px;
	background-color:whitesmoke;
}

.table-data{
	font-size: 15px;
    border: 1px solid grey;
	flex: 1;
	padding: 0 5px;
    /* background-color:whitesmoke; */
}

.table-input{
	font-size: 12px;
    border: 1px solid grey;
	background-color: lightgrey;
}

.reportname{
	background-color: lightgrey;
}

.backgroundcolor1{
	background-color:#ffff81;
	    border: 1px solid grey
}	 
	 
.backgroundcolor2{
	background-color:#ffff81;
	    border: 1px solid grey
}	 

.backgroundcolor3{
	background-color:#7dff7d;
	    border: 1px solid grey
}	 
.backgroundcolor4{
	background-color:#ff8484;
	    border: 1px solid grey
}	

.message {
	text-align:center; color:red; font-size: 15px;
}	

 
	 
/* .dropbtn { */
    /* background-color: #3498DB; */
    /* color: white; */
    /* //padding: 16px; */
    /* font-size: 16px; */
  /* //  border: none; */
    /* cursor: pointer; */
/* } */

/* .dropbtn:hover, .dropbtn:focus { */
    /* background-color: #2980B9; */
/* } */

/* .dropdown { */
    /* position: relative; */
    /* display: inline-block; */
/* } */

/* .dropdown-content { */
    /* display: none; */
    /* position: absolute; */
    /* background-color: #f1f1f1; */
    /* min-width: 160px; */
    /* overflow: auto; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
/* } */

/* .dropdown-content a { */
    /* color: black; */
    /* padding: 12px 16px; */
    /* text-decoration: none; */
    /* display: block; */
/* } */

/* .dropdown a:hover {background-color: #ddd;} */

/* .show {display: block;}	  */

